# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      
      # Install everything needed for building UniMath (and more)
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install build-essential git ocaml ocaml-nox ocaml-native-compilers camlp5 libgtk2.0 liblablgtk-extras-ocaml-dev ocaml-findlib libnum-ocaml-dev emacs ocaml-dune libzarith-ocaml-dev

      # Change into UniMath directory and build UniMath
      - name: Build UniMath and TypeTheory
        run: |
          pushd ..
          git clone --no-checkout https://github.com/UniMath/UniMath
          cd UniMath
          pwd
          git checkout master
          git show
          make BUILD_COQ=yes PACKAGES="Foundations MoreFoundations Combinatorics Algebra NumberSystems PAdics CategoryTheory Bicategories Ktheory Topology SubstitutionSystems" install
          export PATH=$PATH:$PWD/sub/coq/bin/
          echo $PATH
          popd
          cd $GITHUB_WORKSPACE
          echo $PATH
          time make



